In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
sizes = [0,200000,400000]
costs = [0,20000000,35000000]

In [3]:
cost_warehouse = 50000000
mile_cost = 5
km_cost = mile_cost * 1.6
warehouse_cap = 1000000
truck_cap = 40000
warehouse_size = 400000
long_distance = 100
long_dist_cost_mult = 3

In [4]:
dist = pd.read_csv('dist.csv')
dist = dist.pivot(index='Node 1', columns='Node 2', values='Distance (KM)').fillna(0)

In [5]:
cost = (dist.astype(int) * km_cost).astype(int)

In [6]:
dist

Node 2,Basel,Bern,Biel,Chur,Fribourg,Geneva,Lausanne,Lucerne,Lugano,Montreux,Saint Gallen,Schaffhausen,Sion,Thun,Winterthur,Zug,Zurich
Node 1,,,,,,,,,,,,,,,,,
Basel,0,111,90,204,130,251,187,95,266,182,164,130,249,122,106,108,85
Bern,111,0,53,248,37,161,105,116,293,90,217,175,156,27,159,138,130
Biel,90,53,0,237,80,161,109,105,274,132,198,163,200,72,140,129,117
Chur,204,248,237,0,277,399,343,143,145,330,106,185,396,270,159,117,121
Fribourg,130,37,80,277,0,140,72,145,312,60,237,203,130,69,183,167,159
Geneva,251,161,161,399,140,0,71,266,370,95,360,325,163,190,301,290,282
Lausanne,187,105,109,343,72,71,0,209,380,29,304,269,95,137,246,233,225
Lucerne,95,116,105,143,145,266,209,0,171,196,143,101,267,97,77,31,51
Lugano,266,293,274,145,312,370,380,171,0,278,249,256,217,248,240,172,208
Montreux,182,90,132,330,60,95,29,196,278,0,290,256,68,124,232,220,211
Saint Gallen,164,217,198,106,237,360,304,143,249,290,0,82,356,230,56,126,85
Schaffhausen,130,175,163,185,203,325,269,101,256,256,82,0,323,196,34,92,51
Sion,249,156,200,396,130,163,95,267,217,68,356,323,0,188,298,286,277
Thun,122,27,72,270,69,190,137,97,248,124,230,196,188,0,172,161,150
Winterthur,106,159,140,159,183,301,246,77,240,232,56,34,298,172,0,71,27
Zug,108,138,129,117,167,290,233,31,172,220,126,92,286,161,71,0,35
Zurich,85,130,117,121,159,282,225,51,208,211,85,51,277,150,27,35,0

In [7]:
population = pd.read_csv('csvData.csv')

In [8]:
population

       2022                           name
0    341730                         Zurich
1    183981                         Geneve
2    164488                          Basel
3    121631                           Bern
4    116751                       Lausanne
..      ...                            ...
338    5061               Estavayer-le-Lac
339    5045                        Sargans
340    5032                     Greifensee
341    5031  Wallisellen / Wallisellen-Ost
342    5025                     Herrliberg

[343 rows x 2 columns]

In [9]:
cities = pd.Series(cost.index).str.replace('\xa0','')

In [10]:
cities

0            Basel
1             Bern
2             Biel
3             Chur
4         Fribourg
5           Geneva
6         Lausanne
7          Lucerne
8           Lugano
9         Montreux
10    Saint Gallen
11    Schaffhausen
12            Sion
13            Thun
14      Winterthur
15             Zug
16          Zurich
Name: Node 1, dtype: object

In [11]:
relevant_pop = population[population['name'].isin(cities)]

In [12]:
additional_cities = ['Geneve', 'Luzern', 'Sankt Gallen', 'Biel/Bienne']
relevant_pop = pd.concat((relevant_pop, population.loc[population['name'].isin(additional_cities)]))
sion = {'2022': 32797, 'name':'Sion'}
relevant_pop = pd.concat((relevant_pop, pd.DataFrame([sion])))

In [13]:
relevant_pop = relevant_pop.sort_values('name')
relevant_pop

      2022          name
2   164488         Basel
3   121631          Bern
10   48614   Biel/Bienne
21   32429          Chur
20   32827      Fribourg
1   183981        Geneve
4   116751      Lausanne
7    63000        Lugano
8    57066        Luzern
36   22897      Montreux
6    70572  Sankt Gallen
18   33863  Schaffhausen
0    32797          Sion
13   42136          Thun
5    91908    Winterthur
34   23435           Zug
0   341730        Zurich

In [14]:
demand = np.array(relevant_pop['2022'])
demand

array([164488, 121631,  48614,  32429,  32827, 183981, 116751,  63000,
        57066,  22897,  70572,  33863,  32797,  42136,  91908,  23435,
       341730], dtype=int64)

In [15]:
distance = np.array(dist.astype(int))

In [16]:
from ortools.sat.python import cp_model as cp

In [19]:
before = time.time()

model = cp.CpModel()

# data
num_cities = len(cities)
    
# declare variables
x1 = []
x2 = []
c = []
for i in range(num_cities):
    x1.append(model.NewBoolVar("x1[%i]" % i))
    x2.append(model.NewBoolVar("x2[%i]" % i))
    c.append([])
    for j in range(num_cities):
        c[i].append(model.NewIntVar(0, warehouse_size, "c[%i][%i]" % (i, j)))

z = model.NewIntVar(0, 999999999999, "z")
p = model.NewIntVar(0, 999999999999, "p")

# objective to minimize
# cost of giving capacity over a distance
model.Add(z == (sum([c[i][j] * distance[i][j] * mile_cost for i in range(num_cities) for j in range(num_cities)])))
#(long_dist_cost_mult if distance[i][j] >= long_distance else 1)

# cost of warehouses
model.Add(p == sum([x1[i] * costs[1] for i in range(num_cities)]) + sum([x2[i] * costs[2] for i in range(num_cities)]))

# constraints
for j in range(num_cities):
    model.Add(sum([c[i][j] for i in range(num_cities)]) >= demand[j])
    
for i in range(num_cities):
    model.Add(sum([c[i][j] for j in range(num_cities)]) <= x1[i] * sizes[1] + x2[i] * sizes[2])
    
for i in range(num_cities):
    model.Add(x1[i] + x2[i] <= 1)
    
for i in range(num_cities):
    model.Add(sum([c[i][j] for j in range(num_cities)]) >= 0)

model.Minimize(z + p)

# solution and search
solver = cp.CpSolver()
status = solver.Solve(model)

if status == cp.OPTIMAL:
    print("cost:", solver.Value(z) + solver.Value(p))
    print("x1:", [solver.Value(x1[i]) for i in range(num_cities)])
    print("x2:", [solver.Value(x2[i]) for i in range(num_cities)])
    print("c:", [solver.Value(c[i][j]) for i in range(num_cities) for j in range(num_cities)])

print("NumConflicts:", solver.NumConflicts())
print("NumBranches:", solver.NumBranches())
after = time.time()
print(after - before)

cost: 272236500
x1: [1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0]
x2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
c: [164488, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 121631, 0, 0, 32827, 0, 0, 0, 0, 0, 0, 0, 0, 42136, 0, 0, 0, 0, 0, 48614, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 183981, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 116751, 0, 0, 22897, 0, 0, 32797, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 63000, 0, 0, 0, 0, 0, 0, 0, 23435, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57066, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 32429, 0, 0, 0, 0, 0, 0, 70572, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 33863, 0, 0, 91908, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 341730]
NumConflicts: 15406
NumBranches: 23689
24.934882402420044

In [27]:
x1 = [solver.Value(x1[i]) for i in range(num_cities)]
x2 = [solver.Value(x2[i]) for i in range(num_cities)]
warehouses = np.array(np.concatenate((x1,x2)))
for i, val in enumerate(warehouses):
    if val > 0:
        print(cities[i % num_cities], val * i // num_cities + 1)

Basel 1
Bern 1
Biel 1
Geneva 1
Lausanne 1
Lucerne 1
Lugano 1
Saint Gallen 1
Winterthur 1
Zurich 2

In [29]:
sent = np.array([solver.Value(c[i][j]) for i in range(num_cities) for j in range(num_cities)])
for i, val in enumerate(sent):
    if val > 0:
        from_i = i // num_cities
        to_i = i% num_cities
        print('from:',cities[from_i],'to:',cities[to_i], 'amount:', val, 'distance:', distance[from_i][to_i], 'price:', distance[from_i][to_i] * val)

from: Basel to: Basel amount: 164488 distance: 0 price: 0
from: Bern to: Bern amount: 121631 distance: 0 price: 0
from: Bern to: Fribourg amount: 32827 distance: 37 price: 1214599
from: Bern to: Thun amount: 42136 distance: 27 price: 1137672
from: Biel to: Biel amount: 48614 distance: 0 price: 0
from: Geneva to: Geneva amount: 183981 distance: 0 price: 0
from: Lausanne to: Lausanne amount: 116751 distance: 0 price: 0
from: Lausanne to: Montreux amount: 22897 distance: 29 price: 664013
from: Lausanne to: Sion amount: 32797 distance: 95 price: 3115715
from: Lucerne to: Lucerne amount: 63000 distance: 0 price: 0
from: Lucerne to: Zug amount: 23435 distance: 31 price: 726485
from: Lugano to: Lugano amount: 57066 distance: 0 price: 0
from: Saint Gallen to: Chur amount: 32429 distance: 106 price: 3437474
from: Saint Gallen to: Saint Gallen amount: 70572 distance: 0 price: 0
from: Winterthur to: Schaffhausen amount: 33863 distance: 34 price: 1151342
from: Winterthur to: Winterthur amount: 91908 distance: 0 price: 0
from: Zurich to: Zurich amount: 341730 distance: 0 price: 0

In [ ]:
x